<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/style-login.css" />
        <title>Login</title>
    </head>
    <body>
        <div class="row">
            <div class="colm-logo">
                <img src="/assets/images/login/binar-logo.png" alt="Logo" />
                <h2>Challenge Binar Academy Chapter 5</h2>
            </div>
            <div class="colm-form">
                <div class="form-container">
                    <form action="/login" method="POST">
                        <input
                            type="text"
                            name="username"
                            placeholder="Username"
                        />
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                        />
                        <button type="submit" class="btn-login">Login</button>
                        <a href="/">Back to Home</a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
