<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/style-notfound.css" />
        <title>Not Found</title>
    </head>
    <body>
        <div id="main">
            <div class="fof">
                <h2>404</h2>
                <br />
                <h1>Oops! Nothing was Found</h1>
                <br />
                <p>
                    The page you are looking for might have been removed had its
                    name changed or is temporarily unavailable
                </p>
                <a href="/">Return to homepage</a>
            </div>
        </div>
    </body>
</html>
