/* Global */
body,
html {
    color: white;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

/* Navbar */
.navbargame {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffb548;
    position: fixed !important;
    z-index: 1;
}

.navbargame .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbargame .nav-link {
    margin: 0px 1vw 0px 1vw;
}

.navbargame a {
    color: white !important;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2em;
}

.navbargame .container .logo {
    font-size: 16px;
    line-height: 33px;
}

.navbargame a:hover {
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    color: #020202 !important;
}

/* Image Background */
.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    text-align: center;
    margin-bottom: auto;
}

/* Header Game */
.headergame {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(70%, transparent),
            to(black)
        ),
        url(/assets/images/landingpage/main-bg.jpg);
    background-image: linear-gradient(to bottom, transparent 80%, black 100%),
        url(/assets/images/landingpage/main-bg.jpg);
}

.headergame .container h1 {
    margin-top: 25vh;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

.headergame .btn-warning {
    background-color: #ffb548;
}

.headergame .container h3 {
    font-size: 16px;
    letter-spacing: 2px;
}

.headergame .container a {
    margin-top: 5vh;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
}

.headergame .nextgamecontent {
    position: relative;
    top: 30vh;
    padding: 0px;
}

.headergame .nextgamecontent h3 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

/* Game Content */
.gamecontent {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(black),
            color-stop(10%, transparent),
            color-stop(90%, transparent),
            to(black)
        ),
        url(/assets/images/landingpage/the-games-bg.jpg);
    background-image: linear-gradient(
            black 0%,
            transparent 10%,
            transparent 90%,
            black 100%
        ),
        url(/assets/images/landingpage/the-games-bg.jpg);
}

.gamecontent .container {
    text-align: left;
}

.gamecontent h3 {
    font-size: 16px;
    letter-spacing: 2px;
}

.gamecontent h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.gamecontent .carousel .carousel-inner img {
    margin: auto;
}

.gamecontent .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0px 15px -15px;
    background-color: transparent;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 0px 1px white;
    box-shadow: inset 0px 0px 0px 1px white;
}

.gamecontent .carousel .carousel-indicators .active {
    background-color: white !important;
}

.gamecontent .carousel .carousel-control-prev,
.gamecontent .carousel .carousel-control-next {
    opacity: 1;
}

.gamecontent .carousel .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml, <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="white" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/> </svg>');
}

.gamecontent .carousel .carousel-control-next-icon {
    background-image: url('data:image/svg+xml, <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="white" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/> </svg>');
}

/* Features Content */
.featurescontent {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(black),
            color-stop(100%, transparent),
            to(black)
        ),
        url(/assets/images/landingpage/features.jpg);
    background-image: linear-gradient(black 0%, transparent 30%, black 100%),
        url(/assets/images/landingpage/features.jpg);
}

.featurescontent .col-md-5 {
    text-align: left;
    margin-top: 30vh;
}

.featurescontent .completed {
    margin-top: 10vh;
}

.featurescontent h3 {
    font-size: 16px;
    letter-spacing: 2px;
}

.featurescontent h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.featurescontent h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffb548;
}

.featurescontent p {
    font-size: 14px;
}

.featurescontent .step {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.featurescontent .step .v-stepper {
    position: relative;
}

.featurescontent .step .circle {
    background-color: white;
    border: 3px solid grey;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 0px;
}

.featurescontent .step .line {
    top: 20px;
    left: 8px;
    height: 100%;
    position: absolute;
    border-left: 3px solid white;
}

.featurescontent .step:last-child .line {
    border-left: 3px solid white;
    z-index: -1;
}

.featurescontent .step .content {
    margin-left: 20px;
    display: inline-block;
}

.featurescontent .step.completed .circle {
    visibility: visible;
    background-color: white;
    border-color: white;
}

.featurescontent .step.completed .line {
    border-left: 3px solid white;
}

.featurescontent .step.active .circle {
    visibility: visible;
    border-color: white;
    background-color: transparent;
}

.featurescontent .step.empty .circle {
    visibility: hidden;
}

.featurescontent .step.empty .line {
    top: 0;
    height: 150%;
}

/* System Requirements Content */
.sysreqcontent {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(black),
            color-stop(50%, transparent),
            to(black)
        ),
        url(/assets/images/landingpage/requirements.png);
    background-image: linear-gradient(black 0%, transparent 50%, black 100%),
        url(/assets/images/landingpage/requirements.png);
    padding: 10vh 0px;
}

.sysreqcontent h5 {
    font-size: 14px;
}

.sysreqcontent h1 {
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.sysreqcontent h2 {
    color: #ffb548;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
}

.sysreqcontent p {
    color: white;
    font-size: 16px;
    text-align: left;
}

.sysreqcontent .container {
    margin-top: 25vh;
}

/* Top Scores Content */
.topscorescontent {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(black),
            color-stop(10%, transparent),
            color-stop(90%, transparent),
            to(black)
        ),
        url(/assets/images/landingpage/top-score-bg.jpeg);
    background-image: linear-gradient(
            black 0%,
            transparent 90%,
            transparent 80%,
            black 100%
        ),
        url(/assets/images/landingpage/top-score-bg.jpeg);
}

.topscorescontent .btn-warning {
    background-color: #ffb548;
}

.topscorescontent .topscoresleft {
    margin-bottom: 2vh;
}

.topscorescontent .container {
    margin-top: 25vh;
}

.topscorescontent .topscoresleft h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.topscorescontent .topscoresleft h2 {
    font-size: 16px;
}

.topscorescontent .topscoresleft a {
    margin-top: 5vh;
    font-weight: bold;
    padding: 10px 50px;
}

.topscorescontent .twittercards .card {
    border: none;
}

.topscorescontent .twittercards .card-header {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: none;
    text-align: left;
    position: relative;
    padding-bottom: 0;
}

.topscorescontent .twittercards .card-header .profilepic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 2px #ffb548;
    box-shadow: 5px 2px #ffb548;
}

.topscorescontent .twittercards .card-header h3 {
    font-size: 12px;
    color: #ffb548;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 3px;
}

.topscorescontent .twittercards .card-header h4 {
    font-size: 10px;
    color: grey;
    margin-left: 50px;
    margin-bottom: 0;
}

.topscorescontent .twittercards .card-header .twitterlogo {
    position: absolute;
    right: 16px;
    top: 16px;
}

.topscorescontent .twittercards .card-body {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
}

.topscorescontent .twittercards h5 {
    font-size: 12px;
}

.topscorescontent .twittercards p {
    font-size: 10px;
    color: grey;
}

/* Newsletter Content */
.newslettercontent {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(black),
            color-stop(10%, transparent),
            color-stop(90%, transparent),
            to(black)
        ),
        url(/assets/images/landingpage/newsletter-bg.jpg);
    background-image: linear-gradient(
            black 0%,
            transparent 80%,
            transparent 80%,
            black 100%
        ),
        url(/assets/images/landingpage/newsletter-bg.jpg);
    text-align: left;
}

.newslettercontent .btn-warning {
    background-color: #ffb548;
}

.newslettercontent h3 {
    font-size: 16px;
    margin-top: 10vh;
}

.newslettercontent h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.newslettercontent p {
    font-size: 14px;
    text-align: justify;
}

.newslettercontent form {
    position: relative;
}

.newslettercontent form input[type="text"] {
    border: 1px solid grey;
    font-size: 20px;
    color: #ffb548;
}

.newslettercontent form p {
    color: grey;
    position: absolute;
    font-size: 10px;
    left: 16px;
    top: 1px;
}

.newslettercontent form button {
    padding: 9px;
    font-weight: bold;
}

::placeholder {
    color: #ffb548 !important;
}

/* Footer */
.navigation {
    background-color: black;
    height: 40vh;
    padding: 0;
}

.navigation a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 0 2vw;
    word-break: keep-all;
}

.navigation a span:hover {
    color: #ffb548 !important;
}

.navigation .socialmedia {
    width: 100% !important;
}

.navigation hr {
    border-top: 1px solid grey;
}

.navigation .footer p {
    font-size: 14px;
    color: grey;
}

.navigation .footer .col-lg-6 {
    text-align: center;
}

.navigation .footer a {
    margin: 0;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

/* For Landscape Phone */
@media (min-width: 576px) and (max-width: 768px) {
    /* Header Game */
    .headergame .container h1 {
        font-size: 6vw;
    }

    .headergame .container h3 {
        font-size: 3vw;
    }

    /* The Game Content */
    .gamecontent h1 {
        font-size: 6vw;
    }

    .gamecontent h3 {
        font-size: 3vw;
    }

    /* Features Content */
    .featurescontent h3 {
        font-size: 3vw;
    }

    .featurescontent h1 {
        font-size: 6vw;
    }

    .featurescontent h2 {
        font-size: 3vw;
    }

    .featurescontent p {
        font-size: 2.5vw;
    }

    /* System Requirements Content */
    .sysreqcontent h5 {
        font-size: 2.5vw;
    }

    .sysreqcontent h1 {
        font-size: 6vw;
    }

    .sysreqcontent h2 {
        font-size: 3vw;
    }

    .sysreqcontent p {
        font-size: 2.5vw;
    }

    /* Top Scores Content */
    .topscorescontent .topscoresleft h1 {
        font-size: 6vw;
    }

    .topscorescontent .topscoresleft h2 {
        font-size: 2.5vw;
    }

    /* Newsletter content */
    .newslettercontent h3 {
        font-size: 3vw;
    }

    .newslettercontent h1 {
        font-size: 6vw;
    }

    .newslettercontent p {
        font-size: 2.5vw;
    }

    .navigation {
        height: 30vh;
    }
}

/* For Tablet */
@media (min-width: 768px) and (max-width: 992px) {
    /* Header Game */
    .headergame .container h1 {
        font-size: 6vw;
    }

    .headergame .container h3 {
        font-size: 3vw;
    }

    /* The Game Content */
    .gamecontent h1 {
        font-size: 5vw;
    }

    .gamecontent h3 {
        font-size: 2.5vw;
    }

    /* Features Content */
    .featurescontent h3 {
        font-size: 2.5vw;
    }

    .featurescontent h1 {
        font-size: 5vw;
    }

    .featurescontent h2 {
        font-size: 2.5vw;
    }

    .featurescontent p {
        font-size: 2vw;
    }

    /* System Requirements Content */
    .sysreqcontent h5 {
        font-size: 2vw;
    }

    .sysreqcontent h1 {
        font-size: 5vw;
    }

    .sysreqcontent h2 {
        font-size: 2.5vw;
    }

    .sysreqcontent p {
        font-size: 2vw;
    }

    /* Top Scores Content */
    .topscorescontent .topscoresleft h1 {
        font-size: 5vw;
    }

    .topscorescontent .topscoresleft h2 {
        font-size: 2vw;
    }

    /* Newsletter content */
    .newslettercontent h3 {
        font-size: 2.5vw;
    }

    .newslettercontent h1 {
        font-size: 5vw;
    }

    .newslettercontent p {
        font-size: 1.8vw;
    }

    .navigation {
        height: 30vh;
    }
}

/* For Desktop */
@media (min-width: 992px) and (max-width: 1200px) {
    /* Navbar */
    .navbargame {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }

    .navbargame .navbar-center {
        margin-left: 20px;
    }

    .navbargame a:hover {
        -webkit-transition: all 0.8s ease 0s;
        transition: all 0.8s ease 0s;
        color: #ffb548 !important;
    }

    /* Header Game */
    .headergame .container h1 {
        margin-top: 28vh;
        font-size: 6vw;
        line-height: 83px;
        letter-spacing: 3px;
    }

    .headergame .container h3 {
        font-size: 2.5vw;
        line-height: 28px;
        letter-spacing: 2px;
    }

    .headergame .container a {
        font-size: 2vh;
    }

    .headergame .nextgamecontent h3 {
        font-size: 2vh;
    }

    /* The Game Content */
    .gamecontent h1 {
        font-size: 5vw;
    }

    .gamecontent h3 {
        font-size: 2vw;
    }

    /* Features Content */
    .featurescontent h3 {
        font-size: 2vw;
    }

    .featurescontent h1 {
        font-size: 5vw;
    }

    .featurescontent h2 {
        font-size: 2.5vw;
    }

    .featurescontent p {
        font-size: 2vw;
    }

    /* System Requirements Content */
    .sysreqcontent h5 {
        font-size: 2vw;
    }

    .sysreqcontent h1 {
        font-size: 5vw;
    }

    .sysreqcontent h2 {
        font-size: 3vw;
    }

    .sysreqcontent p {
        font-size: 1.5vw;
    }

    /* Top Scores Content */
    .topscorescontent .container {
        position: relative;
    }

    .topscorescontent .topscoresleft {
        position: absolute;
        top: 150px;
        width: 350px;
        text-align: left;
    }

    .topscorescontent .topscoresleft h1 {
        font-size: 5vw;
    }

    .topscorescontent .topscoresleft h2 {
        font-size: 1.5vw;
    }

    .topscorescontent .topscoresleft a {
        font-size: 2vw;
    }

    /* Newsletter content */
    .newslettercontent h3 {
        font-size: 2vw;
    }

    .newslettercontent h1 {
        font-size: 5vw;
    }

    .newslettercontent p {
        font-size: 1.5vw;
    }

    /* Footer */
    .navigation {
        height: 30vh;
    }
}

/* For Large Desktop */
@media (min-width: 1200px) {
    /* Navbar */
    .navbargame {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }

    .navbargame .navbar-center {
        margin-left: 20px;
    }

    .navbargame a:hover {
        -webkit-transition: all 0.8s ease 0s;
        transition: all 0.8s ease 0s;
        color: #ffb548 !important;
    }

    /* Header Game */
    .headergame .container h1 {
        margin-top: 28vh;
        font-size: 5vw;
        line-height: 83px;
        letter-spacing: 3px;
    }

    .headergame .container h3 {
        font-size: 1.8vw;
        line-height: 28px;
        letter-spacing: 2px;
    }

    .headergame .container a {
        font-size: 2vh;
    }

    .headergame .nextgamecontent h3 {
        font-size: 2vh;
    }

    /* The Game Content */
    .gamecontent h1 {
        font-size: 3.5vw;
    }

    .gamecontent h3 {
        font-size: 1.5vw;
    }

    /* Features Content */
    .featurescontent h3 {
        font-size: 1.5vw;
    }

    .featurescontent h1 {
        font-size: 3.5vw;
    }

    .featurescontent h2 {
        font-size: 1.5vw;
    }

    .featurescontent p {
        font-size: 1vw;
    }

    /* System Requirements Content */
    .sysreqcontent h5 {
        font-size: 1vw;
    }

    .sysreqcontent h1 {
        font-size: 3.5vw;
    }

    .sysreqcontent h2 {
        font-size: 1vw;
    }

    .sysreqcontent p {
        font-size: 1vw;
    }

    /* Top Scores Content */
    .topscorescontent .container {
        position: relative;
    }

    .topscorescontent .topscoresleft {
        position: absolute;
        top: 150px;
        width: 350px;
        text-align: left;
    }

    .topscorescontent .topscoresleft h1 {
        font-size: 3.5vw;
    }

    .topscorescontent .topscoresleft h2 {
        font-size: 1vw;
    }

    .topscorescontent .topscoresleft a {
        font-size: 1vw;
    }

    /* Newsletter content */
    .newslettercontent h3 {
        font-size: 1vw;
    }

    .newslettercontent h1 {
        font-size: 3.5vw;
    }

    .newslettercontent p {
        font-size: 1vw;
    }

    /* Footer */
    .navigation {
        height: 20vh;
    }

    .footer .col-lg-6 {
        text-align: right !important;
    }

    .footer .col-lg-4 {
        text-align: left;
    }
}
